In [1]:
import pandas as pd
import numpy as np

# Set pandas option to display all rows
pd.set_option("display.max_rows", None)

# Read the CSV file
df = pd.read_csv("orders.csv")

# Set the index, drop the 'id' column, sort by index, group by 'product_id', and sum 'total_price'
df = df.drop(columns="id").set_index("product_id").sort_index()
# select total price col
df =  df.loc[:,:"total_price":3]
df = df.drop(columns="order_id")

# make groupby
df = df.groupby("product_id").sum()
# Print the resulting DataFrame
print(df.head(None))

            total_price
product_id
2               5486.56
3                264.72
4                 15.49
6               4799.30
7                171.67
9               1154.88
10              4453.92
12               113.02
16              5704.38
18               116.45
19              1195.08
20              1488.63
23              1572.05
24              3726.45
26              2179.15
27              3138.48
31              5968.68
32              1147.68
33              3316.72
34              2352.46
39              2006.40
40              5480.53
41              3128.16
42              1933.60
43               604.10
44              1315.93
45              1151.76
47              2093.80
49              2190.80
50               190.54
51               668.22
53              1913.73
54              1229.35
55               170.17
62              4479.06
63              2812.32
64              3969.68
65              1047.48
66              3759.48
67              4826.70
69              1006.40
71              1973.34
72              4280.64
73               978.15
75              2557.94
79              5703.48
80              4302.40
81               247.74
82              1347.03
84               399.24
85               927.70
87              5113.62
88              1398.64
89               877.48
90              2587.08
93              1112.60
94               406.72
96              3248.07
97              1899.75
98              6962.24
99              1336.75
100             3540.80

In [40]:
max_price = df.loc[df.total_price == df["total_price"].max()]
print(max_price)
min_price = df.loc[df.total_price == df["total_price"].min()]
print(min_price)

            total_price
product_id
98              6962.24
            total_price
product_id
4                 15.49

In [41]:
dt = pd.read_csv("products.csv")
dt = dt.iloc[:,1:3].set_index("product_id")
print(dt.head(None))

               product_name
product_id
1                  ubaltprv
2                   tDBDlti
3             SSoERVQYlXlXo
4             bSyPlTJrVTVEn
5                    OUlXxH
6            dheuOSsoAYqmJz
7                    nEGTIy
8            fSIziuZEOFPJii
9             tTmdXGPMNrTeg
10          KmAxMHrdShinJDw
11                LblRiqyJT
12           lPBcnnwcIYchcj
13          bCiTAZqqjcKvYWf
14                  XLQiZXh
15            EQPiGonyhkocZ
16                    gBsuy
17          dZfTIdcndVjrWsy
18                   Elsvcn
19                    oOkDI
20              ZoEVfNBQslG
21           gFQmmHPKGBlzRy
22                    YKecC
23             rnYGyMejKjPU
24               YQgQAxnvUD
25          EKxrLfyddUGfwwd
26                sTDggtLsx
27                   lPFYVx
28             BYNGLChRWGbm
29             svmFbSAabMqC
30            ElVUiCfsLOilM
31                WGFkbkDtb
32                 CPvoBAYk
33               PAJwPDDXBR
34                   updxJA
35           HcAfBIZKwWCiHs
36            QHQRqMyGljKhL
37             EraiGUgAxjgN
38          AbYrwxljXjRrBSa
39               AvkzPDFttb
40                   viTUxb
41                 PHGqdLsP
42          TSqNNctcCocmUdT
43                  sunRXVd
44           eINbRkwCvRAAfm
45                    Zkuzr
46          icROydWrkoaaidx
47                  yMOOTYo
48                    vkzEL
49            IgRHhHkLsPqlI
50                 Gcpbslkp
51           ejEOVRytcwqLSq
52            CyRDwJTgGlzpZ
53               ycjDbiNigN
54                    SSukq
55                deRQJdITJ
56                  oNSGSCs
57                 lVqIvHFJ
58             GZkpZCDITdmU
59          yvGnHTWzrTDkOSu
60             pEoqssZzUolT
61                   QDDwLn
62                XNtKWqcoz
63               TNRaSJlebb
64            sXNwHwoCZqPYz
65                  wUylHRQ
66                    FVYpC
67                    xeIWm
68                  BjViLkS
69                 poGcCluM
70          xbAnMZdcYHKrcXA
71                    jpCAa
72          qmvhiVubdsrjVjW
73              rkLCkfUutkk
74              OosKGkSGJcO
75                 TIJiEOeS
76             ImECTUYcqSQd
77             ZJjQqLqSsNNf
78           tuUtaZGFqZXtLV
79           GQdzfWHocgCfAy
80                 aoAXtVPP
81                  FpQHCWe
82             SLNdhhcrxSJZ
83                 MeFlPcYo
84                  zsVzDtH
85               WBGPcViSXF
86              FvqylYvmtcK
87          VnAYxuQnzvstPBx
88                  ryvEGuC
89           rFeLDFAruuJImM
90                    Spxby
91                dmGBRQdUK
92                   zKfkyZ
93                yQSIuhlGf
94             xVgdSaytGNzh
95              UToniUVWbte
96           HFvpNNVhmAUgDZ
97           XEQvMgAJbTvjul
98                 jgwNeIfv
99               JQKpoVuMNj
100                 TBvydjC

In [42]:
all_data = pd.merge(df,dt,left_index=True,right_index=True)
print(all_data)

            total_price     product_name
product_id
2               5486.56          tDBDlti
3                264.72    SSoERVQYlXlXo
4                 15.49    bSyPlTJrVTVEn
6               4799.30   dheuOSsoAYqmJz
7                171.67           nEGTIy
9               1154.88    tTmdXGPMNrTeg
10              4453.92  KmAxMHrdShinJDw
12               113.02   lPBcnnwcIYchcj
16              5704.38            gBsuy
18               116.45           Elsvcn
19              1195.08            oOkDI
20              1488.63      ZoEVfNBQslG
23              1572.05     rnYGyMejKjPU
24              3726.45       YQgQAxnvUD
26              2179.15        sTDggtLsx
27              3138.48           lPFYVx
31              5968.68        WGFkbkDtb
32              1147.68         CPvoBAYk
33              3316.72       PAJwPDDXBR
34              2352.46           updxJA
39              2006.40       AvkzPDFttb
40              5480.53           viTUxb
41              3128.16         PHGqdLsP
42              1933.60  TSqNNctcCocmUdT
43               604.10          sunRXVd
44              1315.93   eINbRkwCvRAAfm
45              1151.76            Zkuzr
47              2093.80          yMOOTYo
49              2190.80    IgRHhHkLsPqlI
50               190.54         Gcpbslkp
51               668.22   ejEOVRytcwqLSq
53              1913.73       ycjDbiNigN
54              1229.35            SSukq
55               170.17        deRQJdITJ
62              4479.06        XNtKWqcoz
63              2812.32       TNRaSJlebb
64              3969.68    sXNwHwoCZqPYz
65              1047.48          wUylHRQ
66              3759.48            FVYpC
67              4826.70            xeIWm
69              1006.40         poGcCluM
71              1973.34            jpCAa
72              4280.64  qmvhiVubdsrjVjW
73               978.15      rkLCkfUutkk
75              2557.94         TIJiEOeS
79              5703.48   GQdzfWHocgCfAy
80              4302.40         aoAXtVPP
81               247.74          FpQHCWe
82              1347.03     SLNdhhcrxSJZ
84               399.24          zsVzDtH
85               927.70       WBGPcViSXF
87              5113.62  VnAYxuQnzvstPBx
88              1398.64          ryvEGuC
89               877.48   rFeLDFAruuJImM
90              2587.08            Spxby
93              1112.60        yQSIuhlGf
94               406.72     xVgdSaytGNzh
96              3248.07   HFvpNNVhmAUgDZ
97              1899.75   XEQvMgAJbTvjul
98              6962.24         jgwNeIfv
99              1336.75       JQKpoVuMNj
100             3540.80          TBvydjC

In [48]:
max_price = all_data.loc[all_data.total_price == all_data["total_price"].max()]
print(max_price["product_name"])
min_price = all_data.loc[all_data.total_price == all_data["total_price"].min()]
print(min_price["product_name"])

product_id
98    jgwNeIfv
Name: product_name, dtype: object
product_id
4    bSyPlTJrVTVEn
Name: product_name, dtype: object