In [2]:
import pandas as pd
import numpy as np

# Set pandas option to display all rows
pd.set_option("display.max_rows", None)

# Read the CSV file
df = pd.read_csv("orders.csv")

# Set the index, drop the 'id' column, sort by index, group by 'product_id', and sum 'total_price'
df = df.drop(columns="id").set_index("product_id").sort_index()
# select total price col
df =  df.loc[:,:"total_price":3]
df = df.drop(columns="order_id")

# make groupby
df = df.groupby("product_id").sum()
# Print the resulting DataFrame
print(df.head(15))

            total_price
product_id
2               5486.56
3                264.72
4                 15.49
6               4799.30
7                171.67
9               1154.88
10              4453.92
12               113.02
16              5704.38
18               116.45
19              1195.08
20              1488.63
23              1572.05
24              3726.45
26              2179.15

In [3]:
max_price = df.loc[df.total_price == df["total_price"].max()]
print(max_price)
min_price = df.loc[df.total_price == df["total_price"].min()]
print(min_price)

            total_price
product_id
98              6962.24
            total_price
product_id
4                 15.49

In [4]:
dt = pd.read_csv("products.csv")
dt = dt.iloc[:,1:3].set_index("product_id")
print(dt.head(15))

               product_name
product_id
1                  ubaltprv
2                   tDBDlti
3             SSoERVQYlXlXo
4             bSyPlTJrVTVEn
5                    OUlXxH
6            dheuOSsoAYqmJz
7                    nEGTIy
8            fSIziuZEOFPJii
9             tTmdXGPMNrTeg
10          KmAxMHrdShinJDw
11                LblRiqyJT
12           lPBcnnwcIYchcj
13          bCiTAZqqjcKvYWf
14                  XLQiZXh
15            EQPiGonyhkocZ

In [6]:
all_data = pd.merge(df,dt,left_index=True,right_index=True)
print(all_data.head(15))

            total_price     product_name
product_id
2               5486.56          tDBDlti
3                264.72    SSoERVQYlXlXo
4                 15.49    bSyPlTJrVTVEn
6               4799.30   dheuOSsoAYqmJz
7                171.67           nEGTIy
9               1154.88    tTmdXGPMNrTeg
10              4453.92  KmAxMHrdShinJDw
12               113.02   lPBcnnwcIYchcj
16              5704.38            gBsuy
18               116.45           Elsvcn
19              1195.08            oOkDI
20              1488.63      ZoEVfNBQslG
23              1572.05     rnYGyMejKjPU
24              3726.45       YQgQAxnvUD
26              2179.15        sTDggtLsx

In [48]:
max_price = all_data.loc[all_data.total_price == all_data["total_price"].max()]
print(max_price["product_name"])
min_price = all_data.loc[all_data.total_price == all_data["total_price"].min()]
print(min_price["product_name"])

product_id
98    jgwNeIfv
Name: product_name, dtype: object
product_id
4    bSyPlTJrVTVEn
Name: product_name, dtype: object